.nav{
    background-image: linear-gradient(#c2c1c1, #f8f8f8);
	/* background-color: #F8F8FF; */
	padding:5px 10px;
    margin-top: 20px;
    display: block;
}
.butLogin{
    float: right;
}
button{
    color: #212529;
    background-color: #f8f9fa;
    box-shadow: 1px 1px grey;
    margin: 5px;
}
.choose{
    background: #ffc107;
}
