.form-login{
    background-color: #f2f2f2;
    margin: 50px auto;
    box-shadow: 4px 4px 5px gray;
    width: 400px;
    padding-left: 50px;
}

.form-login .form-group input{
    width: 300px;
}
::ng-deep .custom-snackbar-err{
    background-color: #e62e00!important;
    color: white;
}