.confirm {
    float: right;
}

.butyes {
    width: 100px;
}
.butno {
    width: 100px;
    margin-left: 30px;
}
::ng-deep .custom-snackbar{
    background-color: #33cc00!important;
    color: white;
}
::ng-deep .custom-snackbar-err{
    background-color: #e62e00!important;
    color: white;
}