<div class="d-flex justify-content-between">
    <h2>Add new Brand</h2>
    <button mat-button (click)="onClose()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div style="overflow: auto; height: 450px;">
        <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
            <div class="form-group">
                <label>Brand Name <span style="color: red;">(*)</span></label>
                <input required minlength="1" type="text" class="form-control" 
                name="brandName" 
                #brandName="ngModel" 
                [(ngModel)]="brandService.formData.brandName">
                <div class="text-left text-danger" *ngIf="brandName.invalid && brandName.touched">
                    Please enter Brand name
                </div>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea  type="text" class="form-control" 
                name="description" 
                #description="ngModel" 
                [(ngModel)]="brandService.formData.description" cols="30" rows="3"></textarea>
                
            </div>
            <div class="form-group">
                <label>Logo <span style="color: red;">(*)</span></label>
                <input required  type="file"  
                name="logo" class="form-control" 
                #logo="ngModel" (change)="onFileSelect($event)"
                [(ngModel)]="brandService.formData.logo">    
                 
            </div>
           

            <button class="mt-4" mat-raised-button 
            color="primary" type="submit" [disabled]="form.invalid">Add Brand</button>
            
            <button type="reset" class="btn btn-secondary but-reset">Reset</button>
        </form>
        
    </div>
