.product-bar{
    margin-top: 20px;
}
.search{
	background-color: #F8F8FF;
	padding-bottom: 15px;
	padding-top: 25px;
}
.current {
    background-color: #3f51b5;
    color: white;
}
.page-nav{
    border-radius: 50%;
    margin: 2px 3px;
    padding: 5px 11px;
}
.page-nav-end{
    border-radius: 50%!important;
    margin: 2px 3px;
    padding: 5px 8px;
}
.mat-img{
    width: 60px!important;
    height: 60px!important;
}
.img{
    width: 60px!important;
    height: 60px!important;
}