<app-nav-bar></app-nav-bar>
<div class="product-bar">
    <form #formSearch="ngForm" (submit)="refreshProductList(formSearch.value)">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-2">
                <input type="text" class="form-control" name="productName" ngModel placeholder="Product name">
            </div>
            <div class="col-2">
                <select class="custom-select" name="brandName" [ngModel]="this.brandNameDefault">
                    <option *ngFor="let name of listBrandName" [value]="name">
                        {{name}}
                    </option>
                </select>
            </div>
            <div class="col-2">
                <select class="custom-select" [ngModel]="this.priceFromDefault" name="priceFrom">
                    <option value="0">Price from</option>
                    <option value="1000000">1.000.000 vnđ</option>
                    <option value="5000000">5.000.000 vnđ</option> 
                    <option value="10000000">10.000.000 vnđ</option>
                    <option value="20000000">20.000.000 vnđ</option>
                </select>
            </div>
            <div class="col-2">
                <select class="custom-select" [ngModel]="this.priceToDefault" ngModel name="priceTo">
                    <option value="0">Price to</option>
                    <option value="1000000">1.000.000 vnđ</option>
                    <option value="5000000">5.000.000 vnđ</option>
                    <option value="10000000">10.000.000 vnđ</option>
                    <option value="20000000">20.000.000 vnđ</option>
                </select>
            </div>
            <div class="col-2">
                <button class="btn btn-primary butSearch" type="submit">Search</button>
            </div>
            <div class="col-1"></div>
        </div>
    </form>
</div>
<div class="table-brand">
    <div style="overflow:auto">
        <div class="mat-elevation-z8">
            <mat-table [dataSource]="listData">
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>
               
                <ng-container matColumnDef="ProductID" >
                    <mat-header-cell *matHeaderCellDef>Product ID</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.productId}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="ProductName">
                    <mat-header-cell *matHeaderCellDef>Product Name</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.productName}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="Quantity">
                        <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="Price">
                        <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.price}} vnđ</mat-cell>
                </ng-container>

                <ng-container matColumnDef="SaleDate">
                    <mat-header-cell *matHeaderCellDef>SaleDate</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.saleDate}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="Image">
                    <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-img">
                        <img src="http://localhost:8080/ngocanh-pilot/images/{{ element.image }}" class="img">
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Description">
                    <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.description}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="BrandName">
                    <mat-header-cell *matHeaderCellDef>Brand Name</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.brandEntity.brandName}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="Options">
                        <mat-header-cell *matHeaderCellDef>Options</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <button class="btn btn-outline-primary" style="margin-right: 10px;" (click)="onEdit(row)">
                                Edit
                            </button>
                            <button class="btn btn-outline-danger"  color="warn" (click)="onDelete(row)">
                                Del
                            </button>
                        </mat-cell>
                    </ng-container>
            </mat-table>
        </div>
    </div>
</div>
<button class="mt-2" mat-raised-button (click)="onAdd()" color="primary">Add Product</button>
<!-- Pagination -->
<ul class="pagination pagination-sm justify-content-end">
    <li class="page-item" [ngClass]="{'disabled': currentPage === 0}">
        <button class="page-link page-nav-end" matTooltip="First page" (click)="setPageChange(0)">
            <<
        </button>
    </li>
    <li class="page-item" [ngClass]="{'disabled': currentPage === 0}">
        <button class="page-link page-nav" matTooltip="Previous page" (click)="setPageChange(currentPage - 1)">
            <
        </button>
    </li>
    <li class="page-item" *ngFor="let page of pageNumbersList">
        <button class="page-link page-nav" [ngClass]="{'current': page -1 === currentPage}" matTooltip="Page {{ page }}" (click)="setPageChange(page - 1)">
            {{ page }}
        </button>
    </li>
    <li class="page-item" [ngClass]="{'disabled': currentPage === totalPage - 1}">
        <button class="page-link page-nav" matTooltip="Next page" (click)="setPageChange(currentPage + 1)">
            >
        </button>
    </li>
    <li class="page-item" [ngClass]="{'disabled': currentPage === totalPage - 1}">
        <button class="page-link page-nav-end" matTooltip="Last page" (click)="setPageChange(totalPage - 1)">
            >>
        </button>
    </li>
</ul>

