
.current {
    background-color: #3f51b5;
    color: white;
}
.page-nav{
    border-radius: 50%;
    margin: 2px 3px;
    padding: 5px 11px;
}
.page-nav-end{
    border-radius: 50%!important;
    margin: 2px 3px;
    padding: 5px 8px;
}
.brand-bar{
    display: block;
    overflow: hidden;
    margin-top: 20px;
}
.brand-bar .form-group{
    float: right;
}
.brand-bar .butsearch{
    margin-left: 10px!important;
}